/*
	By yofukashino_
*/

[class*="MediaItemContainer"] [class*="mosaicItem"]:has(> div > [class^="hoverButtonGroup"]),
[class*="MediaItemContainer"] [class*="mosaicItem"]:has(> [class^="hoverButtonGroup"]) {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
}

[class*="MediaItemContainer"] [class^="hoverButtonGroup"] {
	position: absolute;
	align-self: normal;
	max-height: 32px;
	max-width: 65px;
}

[class*="MediaItemContainer"] [class^="hoverButtonGroup"]:has(> :nth-child(n + 2)) {
	right: 6px;
}

[class*="MediaItemContainer"] [class^="hoverButtonGroup"]:not(:has(> :nth-child(n + 2))) {
	right: 4px;
}
