/*
	By loneweeb.tsx
*/

[class^=nonMediaAttachmentsContainer-] [class^=hoverButtonGroup-] {
	position: relative;
	align-self: normal;
	max-height: 32px;
	max-width: 65px;
}

[class^=nonMediaAttachmentsContainer-] [class^=hoverButtonGroup-]:has(>:nth-child( n + 2 )) {
	right: 68px;
}

[class^=nonMediaAttachmentsContainer-] [class^=hoverButtonGroup-]:not(:has(>:nth-child( n + 2 ))) {
	right: 38px;
}